<div class="problems-category-body">
  <h1>{{title}}</h1>
  <div class="problems-category-body-content">
    <div class="problems-category-body-content-problems" *ngIf="problems != null || problems != undefined">
      <div class="problems-category-body-content-problems-container" *ngFor="let problem of problems | paginate: { itemsPerPage: 5, currentPage: p }">
        <div class="problems-category-body-content-problems-container-text">
          <h4>{{problem.title}}</h4>
          {{problem.requirement}}
        </div>
        <div class="problems-category-body-content-problems-container-details">
          <h6>Time limit</h6>
          {{problem.timeLimit}} seconds
          <h6>Memory limit</h6>
          {{problem.memoryLimit}} mb
          <div class="problems-category-body-content-problems-container-details-button">
            <a [routerLink]="['/problem']" [queryParams]="{problemId: problem.id}">
              Solve
            </a>
          </div>
        </div>

      </div>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    {{submissionText}}
  </div>