@import '../../../../assets/scss/variables/_variables';
.page{
    width: 100%;
    background-color: #ffffff;
    padding-top: 44px;
    padding-bottom: 50px;
    border-bottom: solid 0.5px #707070;
    border-top: solid 0.5px #707070;
}
.dashboard-container {
    display:flex;
    flex-direction:column;
    width: 60%;
    height: 420px;
    background-color: #ffffff;
    border: solid 0.5px #707070;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68.5px;
    margin-bottom: 50px;
    .line-one {
         height: 15%;
        .user-photo {
                width: 6vw;
                min-width: 40px;
                height: 6vw;
                min-height: 40px;
                border: solid 1px #707070;
                margin-left: 8.5%;
                margin-top: -3vw;
                z-index: 2;
                background-color: #ffffff;
                border-radius: 1000px;
                float: left;
            }
            .account {
                background-color: #ffffff;
                height: 33px;
                width: 13.5%;
                text-align: center;
                font-size: 1.3vw;
                z-index:2;
                margin-left: 8.5%;
                margin-top: -1vw;
                float: left;
            }
        
    }
    .line-two {
        display: inline;
        height:10%;
        .name {
                width: 27%;
                height: 21px;
                text-align: center;
                font-size: 2.5vh;
                margin-top: -1vw;
                float: left;
            }
        .buttons {
            width: 36%;
            float: right;
            display: inline;
            margin-right: 8.5%;
            button{
                width: 45%;
                height: 30px;
                background-color: #ffffff;
                border: solid 0.5px #707070;
            }
            #edit {
                float:left;
            }
            #delete { 
                float: right;
            }
            
        }
        
    }
    .line-three {
        .stats-container-background {
                width: 36%;
                height: 252.5px;
                background-color: #ffffff;
                border: solid 0.5px #707070;
                margin-top: 20px;
                .input {
                    margin: auto;
                    display: block;
                    width: 84%;
                    height: 35px;
                    padding: 5px;
                }
                .fields {
                    margin-left: 8%;
                    margin-top: 15px;
                }
                .container-names {
                    width: 60px;
                    height: 32px;
                    background-color: #ffffff;
                    margin-left: 25px;
                    margin-top: -14px;
                    text-align: center;
                    margin-bottom: -15px;
                }
            }
            #social {
                float:left;
                margin-left: 8.5%;
            }
            #user {
                float:right;
                margin-right: 8.5%;
            }
        
    }
}






