<div class="page">
    <div class="dashboard-container">
        <div class="line-one">
            <img class="user-photo" src="../../../../assets/images/user_default.png">
            <div class="account"><b>My Account</b></div>
        </div>
        <div class="line-two">
            <div class="name"><b>{{user.name}}</b></div>
            <div class="buttons">
                <input type="submit" id="edit" class="button" value ="Edit Profile">
                <input type="submit" id="delete" class="button" value="Delete Account">
            </div>
        </div>
        <div class="line-three">   
            <div class="stats-container" id="social">
                <div class="container-names">Social</div>
                <div class="fields">Facebook</div>
                <input type="text" name="facebook" [(ngModel)]="user.facebook" class="input" >
                <div class="fields">LinkedIn</div>
                <input type="text" name="linkedin" [(ngModel)]="user.linkedin" class="input">
                <div class="fields">GitHub</div>
                <input type="text" name="github" [(ngModel)]="user.github" class="input">
            </div>
            
            <div class="stats-container" id="user">
                <div class="container-names">User</div>
                <div class="fields">Name</div>
                <input type="text" name="name" [(ngModel)]="user.name" class="input" maxlength="20">
                <div class="fields">Email</div>
                <input type="text" name="email" [(ngModel)]="user.email" class="input">
                <div class="fields">Phone</div>
                <input type="text" name="phone" [(ngModel)]="user.phone" class="input">
            </div> 
        </div>
    </div>
</div>