// Angular Material
@import '~@angular/material/theming';
@include mat-core();
$easylearn-primary: mat-palette($mat-teal, 400, A400, A700);
$easylearn-accent: mat-palette($mat-deep-purple, A400, A100, 900);
$easylearn-warn: mat-palette($mat-red);
$easylearn-theme: mat-light-theme($easylearn-primary, $easylearn-accent, $easylearn-warn);
@include angular-material-theme($easylearn-theme);

// Custom Colors
$color-primary: rgb(38, 166, 154);
$color-secondary: rgb(101, 31, 255);

$color-red: rgb(235, 42, 79);
$color-red-gradient: linear-gradient(90deg, rgb(235, 42, 79), rgb(248, 64, 101));

$color-orange: rgb(245, 204, 64);
$color-orange-gradient: linear-gradient(90deg, rgb(255, 210, 62), rgb(255, 214, 80));

$color-blue: rgb(29, 135, 225);
$color-blue-gradient: linear-gradient(90deg, rgb(60, 149, 225), rgb(94, 198, 237));

$color-green: rgb(43, 190, 58);
$color-green-gradient: linear-gradient(90deg, rgb(39, 174, 96), rgb(46, 204, 113));

$color-grey: rgb(181, 187, 197);
$color-grey-gradient: linear-gradient(90deg, rgb(168, 173, 183), rgb(189, 194, 202));

$color-text: rgb(102, 116, 137);         //#grey-blue
$color-background: rgb(249, 249, 251);   //#pale-grey
$color-container: rgb(255, 255, 255);   //#white

$color-divider: rgb(227, 233, 240);

// Shadows
$shadow-general: 0 0 20px 0 rgba(181, 187, 197, .36);
$shadow-hover: 0 10px 15px 1px rgba(181, 187, 197, .8);
$shadow-table-row: 0 5px 10px 0 rgba(181, 187, 197, .36);