<section class="navigation" id="navv">
  <div class="nav-container">
    <div class="brand">
      <a href="#!"><img src="../../../../assets/images/easylearn.png" alt="logo"></a>
    </div>
  </div>
</section>

<div class="main-component">
  <h1>Oops!</h1>
  <h2>We can't seem to find the page you're looking for.</h2>
  <h4>Error Code: 404</h4>
  
 <ul>
   <li>Here are some useful links instead:</li>
   <li><a [routerLink]="['']">Home</a></li>
   <li><a [routerLink]="['register']">Sign Up</a></li>
   <li><a [routerLink]="['login']">Sign In</a></li> 
   <li><a [routerLink]="['about-us']">About Us</a></li>
 </ul>
</div>