@import '../../../../assets/scss/variables/_variables';

nav {
	padding: $container-spacing-min $container-spacing-max;
	@extend %flex-row;
	justify-content: space-between;
	align-items: center;
	transition: $transition-general;
}

.nav {
	&-buttons {
		@extend %flex-row;
		.btn:not(:last-child) { margin-right: $container-spacing-min; }
	}
	&-collapse { display: none; }
}

@media (max-width: 767px) {
	nav {
		padding-left: $container-spacing;
		padding-right: $container-spacing;
	}
	.nav {
		&-buttons { display: none; }
		&-collapse { display: block; }
	}
}

.on-scroll{
	background-color: $color-container;
}