@import '../../../../assets/scss/variables/_variables';

nav {
	padding: $container-spacing-min $container-spacing-max;
	@extend %flex-row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 767px) {
	nav {
		padding-left: $container-spacing;
		padding-right: $container-spacing;
	}
}







.on-scroll{
	background-color: $color-container;
}