<section class="navigation" id="navv">
        <div class="nav-container">
          <div class="brand">
            <a [routerLink]="['']"><img src="{{logo.path}}" alt="{{logo.name}}"></a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="nav-toggle" [routerLink]="['']"><span></span></a></div>
            <div class="nav__buttons">
            <a [routerLink]="['register']">Sign Up</a>
            <a [routerLink]="['login']" class="fancy-button bg-gradient1"><span>Sign In</span></a>
            </div>
          </nav>
        </div>
      </section>
