<nav>
  <a [routerLink]="['']">
    <img class="logo" src="{{logo.path}}" alt="{{logo.name}}">
  </a>

  <mat-menu class="nav-collapse" #menu="matMenu">
    <button mat-menu-item [routerLink]="[link]">
      <span>{{firstButton}}</span>
    </button>
    <button mat-menu-item [routerLink]="[link2]">
      <span>{{secondButton}}</span>
    </button>
  </mat-menu>

  <button class="nav-collapse" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="nav-buttons">
    <button class="btn btn-primary" [routerLink]="[link]">{{firstButton}}</button>
    <button class="btn btn-secondary" [routerLink]="[link2]">{{secondButton}}</button>
  </div>
</nav>