

@import '../../../../assets/sass/variables/_variables';


  .testimonials{
    &-wrapper {
        @extend %flex-row;
        }
    &-container {
        @extend %flex-column;
        width:90%;
        height:60%;
        background-color: $color-container;
        position: relative;
        text-align:center;
        padding-top: 5%;
        }
        
    &-slides{
     
          &-user-container{
             width: 150px;
             height: 150px;
             border-radius: 50%; 
             margin:auto;
            }

            
           &-text_box{
             text-align:center;
              }
      
           &-name{
             text-align:center;
               }

           &-display_on{
               display:block;}

           &-display_off {
               display: none;}
              
           &-prev, &-next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
              }


              &-next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
              
              
              &-prev:hover, &-next:hover {
                background-color: rgba(0,0,0,0.8);
              }

              &-dot {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin: 0 2px;
                background-color: rgb(118, 116, 116);
                border-radius: 50%;
                display:inline-flex;
                //float:right;
                transition: background-color 0.6s ease;
              }
             
           
              &-dot_container{
                display: flex;
                justify-content: center;
                li{float:left}
              }
              
 
              &-active, &-dot:hover {
                background-color: #717171;
              }
              
    }

    }
    
  


        
        
      
      
        
        
       

  

      