
@import '../../../../assets/scss/variables/_variables';

  .testimonials{
  
    &-container {
      @extend %flex-column;
        position: relative;
        text-align:center;
        padding-top: 5%;
        background-color: $color-container;
        }
        
    &-slides{
          &-user-container{
             width: 150px;
             height: 150px;
             border-radius: 50%; 
             margin:auto;
             border:1px solid;
            }

            
           &-text_box{
             text-align:center;
              }
      
           &-name{
             text-align:center;
               }

           &-display_on{
               display:block;
            }

           &-display_off {
              display:none;
            }
              
           &-prev, &-next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
              }


              &-next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
              
              
              &-prev:hover, &-next:hover {
                background-color:gray;
              }

              &-dot {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin: 0 2px;
                background-color: rgb(84, 82, 82);
                border-radius: 50%;
                display:inline-flex;
                //float:right;
                transition: background-color 0.6s ease;
              }
             
           
              &-dot_container{
                display: flex;
                justify-content: center;
                li{float:left}
              }
              
 
              &-active, &-dot:hover {
                background-color: #828080;
              } } }
    
  

 .animated {
       -webkit-animation-duration: 2s;
        animation-duration: 2s;
       -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
          }
                
 @-webkit-keyframes fadeIn {
         0% {opacity: 0;}
         100% {opacity: 1;}
                }
                
  @keyframes fadeIn {
         0% {opacity: 0;}
         100% {opacity: 1;}
                }
                
  .fadeIn {
         -webkit-animation-name: fadeIn;
         animation-name: fadeIn;
                }            
        
      
      
        
        
       

  

      