<form class="sign-form" [formGroup]="user">
  <mat-form-field>
    <input type="email" matInput placeholder="E-mail" required formControlName="email" />
    <mat-error *ngIf="user.get('email').hasError('email') && !user.get('email').hasError('required')">
      Type a valid e-mail address!
    </mat-error>
    <mat-error *ngIf="user.get('email').hasError('required')">
      E-mail is <strong>required</strong>!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" required formControlName="password" maxlength="32" />
    <mat-error *ngIf="user.get('password').hasError('required')">
      Password is <strong>required</strong>!
    </mat-error>
  </mat-form-field>
</form>

<p class="forget-pass" routerLink="/forgot">I forgot my password</p>
<h6><span style='color: red;'>{{responseText}}</span></h6>
<button class="btn btn-primary btn-full" [disabled]="!user.valid" (click)="login()">Log in</button>
