/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Angular Material
# Normalize
# Variables
# Typography
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Angular Material
--------------------------------------------------------------*/

@import '~@angular/material/theming';
@include mat-core();
$easylearn-primary: mat-palette($mat-grey, 600);
$easylearn-accent: mat-palette($mat-red, 500, 900, A100);
$easylearn-warn: mat-palette($mat-red);
$easylearn-theme: mat-light-theme($easylearn-primary, $easylearn-accent, $easylearn-warn);
@include angular-material-theme($easylearn-theme);

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

@import '/assets/sass/normalize';

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

@import '/assets/sass/variables-site/variables-site';

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@import '/assets/sass/typography/typography';

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

@import '/assets/sass/layout/layout';