div {
  background-color: rgb(255, 255, 255);
}

h2 {
  padding-left: 10%;
}

div.line {
  display: table-cell;
  content: "";
  margin-left: auto;
  margin-right: 650px;
  border-top: 1px solid rgb(0, 0, 0);
  width: 210px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  background-color: transparent;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container1 {
  display: flex;
  width: 33.3%;
  text-align: center;
}

.flex-container-row {
  padding: 5px;
  width: 33.3%;
  font-size: 15px;
  flex-direction: row;
}

.flex-container-column {
  padding: 15px;
  width: 33.3%;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
}

p {
  margin: 2px;
}
