@import '../../../../assets/scss/variables/_variables';

footer {
  padding: $container-spacing 2*$container-spacing-max;
  @extend %flex-row;
  justify-content: space-between;
  background-color: $color-container;
  border-top: 5px solid $color-primary;
}

.identity {
  @extend %flex-column;
  justify-content: space-between;
  p { margin: 0; }
}

.pages {
  h5 {
    margin-top: 0;
    a { color: $color-secondary; }
  }
  h6 {
    font-weight: 300;
    a { color: $color-text; }
  }
  a:hover { color: $color-primary-hover !important; }
  &:not(:last-of-type) { margin-right: $container-spacing; }
  &-wrapper { @extend %flex-row; }
}

@media (max-width: 767px) {
  footer {
    padding-left: $container-spacing; 
    padding-right: $container-spacing; 
  }
  .pages {
    &:not(:last-of-type) { margin-right: $container-spacing-min; }
  }
}

@media (max-width: 575px) {
  footer, .pages-wrapper { flex-direction: column; }
  .identity {
    margin-bottom: $container-spacing;
    p { margin-top: $container-spacing-min; }
  }
  .pages {
    &:not(:last-of-type) { margin: 0 0 $container-spacing; }
  }
}