<footer>
  <div class="identity">
    <a [routerLink]="['']"><img class="logo" src="../../../../assets/images/easylearn.png" /></a>
    <p>Made in Iasi &copy; 2018 easylearn</p>
  </div>

  <div class="pages-wrapper">
    <div class="pages">
      <h5>Categories</h5>
      <h6>
        <a [routerLink]="['/problems-category/algorithms']">Algorithms</a>
      </h6>
      <h6>
        <a [routerLink]="['/problems-category/data_structures']">Data Structures</a>
      </h6>
      <h6>
        <a [routerLink]="['/problems-category/mathematics']">Mathematics</a>
      </h6>
    </div>
    <div class="pages">
      <h5>
        <a [routerLink]="['/about-us']">About Us</a>
      </h5>
      <h6>Why we made this?</h6>
      <h6>Who made it?</h6>
      <h6>Used technologies</h6>
    </div>
  </div>
</footer>