
  <div class="footer">
    <div class="container">
      <img class ="container__logo" src="../../../../assets/images/easylearn.png">
      <div class="copyright">&copy; Made in Iasi @ 2018</div>
    </div>
    <div class="containerText">
        <div class="text">
          <ul>
            <li class="title">Something</li>
            <li>Else</li>
            <li>New</li>
            <li>Cool</li>
          </ul>
        </div>
        <div class="text">
          <ul>
            <li class="title">Categories</li>
            <li><a class="sub-link" [routerLink]="['/problems-category/algorithms']">Algorithms</a></li>
            <li><a class="sub-link" [routerLink]="['/problems-category/data_structures']">Data Structures</a></li>
            <li><a class="sub-link" [routerLink]="['/problems-category/mathematics']">Mathematics</a></li>
          </ul>
        </div>
        <div class="text">
          <ul>
            <li class="title"><a class="link" [routerLink]="['/about-us']">About Us</a></li>
            <li>Who made it?</li>
            <li>Why we made this?</li>
            <li>Used technologies</li>
          </ul>
        </div>
    </div>
  </div>