<div>
  <div class="Row">
    <div class="Column">
      <h2>easylearning</h2>
    </div>
    <div class="line"></div>
    <div class="Column">
      <table>
        <tr>
          <th>Something</th>
          <th>Categories</th>
          <th>About us</th>
        </tr>
        <tr>
          <td>Else</td>
          <td>Algorithms</td>
          <td>Who made this?</td>
        </tr>
        <tr>
          <td>New</td>
          <td>Data Structures</td>
          <td>Why we made this?</td>
        </tr>
        <tr>
          <td>Cool</td>
          <td>Mathematics</td>
          <td>Used technologies</td>
        </tr>
      </table>
    </div>
  </div>
  <p>Made in Iași © 2018 Copyright</p>
</div>
