<div class="bigcontainer1">
  <h2> Categories</h2>
  <div class="container-fullwidth1">
    <div class="container1">
      <img src="../../../../assets/images/categories/algorithms-512.png">
      <div class="container-item1">Algorithms</div>
    </div>
    <div class="container1">
      <img src="../../../../assets/images/categories/data-structures-512.png">
      <div class="container-item1">Data Structures</div>
    </div>
    <div class="container1">
      <img src="../../../../assets/images/categories/mathematics-512.png">
      <div class="container-item1">Mathematics</div>
    </div>
  </div>
</div>
