<div class="bigcontainer">
  <h2> Categories</h2>
  <div class="container-fullwidth">
    <div class="container">
      <img src="../../../../assets/images/categories/algorithms-512.png">
      <div class="container-item">Algorithms</div>
    </div>
    <div class="container">
      <img src="../../../../assets/images/categories/data-structures-512.png">
      <div class="container-item">Data Structures</div>
    </div>
    <div class="container">
      <img src="../../../../assets/images/categories/mathematics-512.png">
      <div class="container-item">Mathematics</div>
    </div>
  </div>
</div>
