<div>
  <h2> Categories</h2>
  <div class="flex-container">
    <div class="flex-container">
      <img src="../../../../assets/images/categories/algorithms-512.png">
      <div class="flex-container-item">Algorithms</div>
    </div>
    <div class="flex-container">
      <img src="../../../../assets/images/categories/data-structures-512.png">
      <div class="flex-container-item">Data Structures</div>
    </div>
    <div class="flex-container">
      <img src="../../../../assets/images/categories/mathematics-512.png">
      <div class="flex-container-item">Mathematics</div>
    </div>
  </div>
</div>
