div {
  background: rgb(255, 255, 255);
}

.container1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.container-fullwidth1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

.bigcontainer1 {
  padding: 20px 0px;
}

.container-item1 {
  padding: 20px;
  font-size: 30px;
}

img {
  height: 64px;
}

h2 {
  margin-left: 15%;
}
