@import '../../../../assets/scss/variables/_variables';

.categories {
  @extend %flex-row;
  justify-content: space-between;
}

.category {
  @extend %flex-column;
  align-items: center;
  &:hover {
    transition: $transition-general;
    cursor: pointer;
    img { opacity: .7; }
    h4 { color: $color-primary-hover; }
  }
  img, h4 { transition: $transition-general; }
  img { height: 50px; }
}
