@import '../../../../assets/scss/variables/_variables';

section {
  &:nth-child(odd) { background-color: $color-container; }
}

h3 { font-weight: 300; }

.header {
  @extend %flex-column;
  align-items: center;
  h1, h3 { text-align: center; }
  h1 { font-weight: bold; }
  h3 { color: $color-text; }
}

.about {
  @extend %flex-row;
  justify-content: center;
  &-card {
    min-width: 250px;
    max-width: 400px;
    @extend %flex-column;
    flex-grow: 1;
    &:not(:last-of-type) { margin-right: $container-spacing; }
  }
}

.team {
  h4, h6 {}
}

@media (max-width: 767px) {
  .about {
    flex-direction: column;
    &-card { margin: 0; }
  }
}


.aboutus-body {
  width: 100%;
  color: $color-text;
  text-align: center;
  &-team {
    border-bottom: solid 0.5px #707070;
    padding-top: 80px;
    padding-bottom: 80px;
    &-title {
      font-weight: bold;
      font-size: $s36px;
    }
    &-members {
      padding-left: 70px;
      padding-right: 70px;
      margin: 0 auto;
      max-width: calc(4 * 175px + 400px);
      &-person {
        display: inline-block;
        background-color: $color-primary;
        color: white;
        overflow: hidden;
        margin: 23px;
        padding-top: 20px;
        width: 175px;
        height: 240px;
        &-photo {
          img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
          }
        }
        &-name {
          font-size: $s18px;
          font-weight: bold;
        }
        &-role {
          font-size: $s12px;
        }
      }
    }
  }
  &-technologies {
    padding-top: 80px;
    padding-bottom: 80px;
    &-title {
      font-weight: bold;
      font-size: $s36px;
      margin-bottom: 40px;
    }
    &-content {
      width: 70%;
      margin: 0 auto;
      &-small {
        img {
          width: 80%;
          height: 80%;
        }
        display: inline-block;
        width: 15%;
        min-width: 250px;
        height: auto;
      }
      &-big {
        img {
          width: 80%;
          height: 80%;
        }
        display: inline-block;
        width: 30%;
        min-width:500px;
        height: auto;
      }
    }
  }
}