<section class="container header">
  <h1>Have you heard about easylearn?</h1>
  <h3 class="subtle">Meet the people behind the largest IT learning platform and find more about our mission</h3>
</section>

<section class="container about">
  <div class="about-card">
    <h2 class="subtle">About Easylearn</h2>
    <p>
      Easylearn is an education company. But not one in the way you might think. We're committed to building the best learning
      experience inside and out, making Easylearn the best place for our team to learn, teach, and create the online learning
      experience of the future. Education is old. The current public school system in the US dates back to the 19th century
      and wasn't designed to scale the way it has. Lots of companies are working to "disrupt" education by changing the way
      things work in the classroom and by bringing the classroom online.
    </p>
  </div>
  <div class="about-card">
    <h2 class="subtle">Our mission</h2>
    <p>
      We're not one of those companies. We are rethinking education from the bottom up. The web has rethought nearly everything
      - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly
      net native education. We take more cues from Facebook and Zynga in creating an engaging educational experience than
      we do from the classroom. Education is broken. Come help us build the education the world deserves.
    </p>
  </div>
</section>

<section class="container team">
  <h2 class="title">Our team</h2>
  <div class="team-wrapper">
    <div class="team-member" *ngFor="let member of team">
      <img src="{{member.photo === null ? '../../../../assets/images/user_default.png' : member.photo}}" alt="{{member.name}}" />
      <h5>{{member.name}}</h5>
      <h6>{{member.role}}</h6>
    </div>
  </div>
</section>

<section class="container tech">
  <h2 class="title">Used technologies</h2>
  <div class="tech-wrapper">
    <img class="tech-photo" src="../../../../assets/images/technologies/{{tech}}.png" alt="{{tech}}" *ngFor="let tech of techs" />
  </div>
</section>