@import '../../../../assets/scss/variables/_variables';

section {
  &:nth-child(odd) { background-color: $color-container; }
}

.header {
  @extend %flex-column;
  align-items: center;
  h1, h3 { text-align: center; }
  h1 { font-weight: bold; }
  h3 { color: $color-text; }
}

.about {
  @extend %flex-row;
  justify-content: center;
  &-card {
    min-width: 250px;
    max-width: 400px;
    @extend %flex-column;
    flex-grow: 1;
    &:not(:last-of-type) { margin-right: $container-spacing-max; }
  }
}

.team {
  @extend %flex-column;
  align-items: center;
  &-wrapper {
    @extend %flex-row;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-member {
    margin: $container-spacing-min;
    padding: $container-spacing;
    width: 225px;
    @extend %flex-column;
    align-items: center;
    background-color: $color-primary;
    transition: $transition-general;
    &:hover {
      background-color: $color-primary-hover;
      img { filter: none; }
    }
    h5, h6 {
      color: $color-container;
      font-weight: 300;
    }
    img {
      width: 150px;
      height: 150px;
      filter: grayscale(100%);
      border-radius: 50%;
      transition: $transition-general;
    }
  }
}

.tech {
  @extend %flex-column;
  align-items: center;
  &-wrapper {
    @extend %flex-row;
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    margin: $container-spacing-min;
    transition: $transition-general;
    filter: grayscale(100%);
    &:hover { filter: none; }
  }
}

@media (max-width: 767px) {
  .about {
    flex-direction: column;
    &-card { margin: 0; }
  }
}