

.mat-form-field {
    font-size: 14px;
    width: 50%;
    
  }
  
  .solutions
  {
    &__container
    {
      display: inline-flex;
      flex-direction: column;
      left:10px;
      width:40%;
      color:black;
     // border:40px solid;
      margin:40px;
     
       }
  

  
}

  

   

