<table>
  <thead>
    <td>Id</td>
    <td>Problem</td>
    <td>User</td>
    <td>Language</td>
    <td>Date</td>
    <td>State</td>
    <td>View more info</td>
  </thead>
    <tr style="border: 1px solid black;" *ngFor="let submission of submissions;">
        <td style="border: 1px solid black;">{{submission.id}}</td>
        <td style="border: 1px solid black;">{{submission.problemId}}</td>
        <td style="border: 1px solid black;">{{submission.userId}}</td>
        <td style="border: 1px solid black;">{{submission.language}}</td>
        <td style="border: 1px solid black;">{{submission.date}}</td>
        <td style="border: 1px solid black;">{{submission.state}}</td>
        <td style="border: 1px solid black;"><a href="/runs?submissionId={{submission.id}}">View more info</a></td>
    </tr>
</table>
