@import '../../../../assets/scss/variables/_variables';

:host { display: flex; }

.sign {
    &-wrapper {
        width: 100vw;
        height: 100vh;
        @extend %flex-row;
        justify-content: center;
    }
    &-container {
        @extend %flex-column;
        min-width: 350px;
        max-width: 400px;
        align-self: center;
        background-color: $color-container;
    }
    &-tabs {
        @extend %flex-row;
        li {
            padding: 10px 0;
            width: 50%;
            text-align: center;
            text-transform: uppercase;
            transition: $transition-general;
            cursor: pointer;
            &:not(.active) {
                background-color: $color-background;
                &:hover { background-color: $color-hover; }
            }
            &.active { cursor: default; }
        }
    }
    &-content {
        @extend %flex-column;
        padding: $container-spacing;
    }
    ::ng-deep &-form {
        @extend %flex-column;
    }
    &-text {
        margin-left: $container-spacing;
        padding-left: $container-spacing;
        display: flex;
        flex-grow: .2;
        align-self: center;
        border-left: 1px solid $color-divider;
    }
}

@media (max-width: 575px) {
    .sign {
        &-text { display: none; }
    }
}