<div class="problem-wrapper">
    <h1>{{ this.title }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="problem-description">
                <h3>Problem Demands</h3>
                <p>
                    {{problemModel?.requirement}}
                </p>

                <h3>Input data</h3>
                <p>
                    {{problemModel?.input}}
                </p>
                
                <h3>Output data</h3>
                <p>
                    {{problemModel?.output}}
                </p>
                
                <h3>Restrictions and Clarifications</h3>
                <p>
                    {{problemModel?.restrictions}}
                </p>
            </div>

            <div class="code-editor">
                <select>
                    <option value="Python">Python</option>
                    <option value="C++">C++</option>
                    <option value="Java">Java</option>
                </select>

                <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="submitRequestModel.mainSource"></ngx-monaco-editor>
            </div>
        </div>

        <div class="col-md-4">
            <div class="problem-details">
                <div class="row">
                    <h3>Author: </h3> <span>{{ author }}</span>
                </div>
                <div class="row">
                    <h3>Difficulty: </h3> <span>{{ difficulty }}</span>
                </div>
            </div>
            <div>
                <button class="submit-button" (click)="submitSolution()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>