.problem-wrapper {
    margin: 0 50px;
    padding-top: 50px;

    h1 {
        padding: 0 15px;
    }

    .problem-details {
        h3 {
            float: left;
            line-height: 50px;
            margin: 0;
        }

        span {
            float: right;
            line-height: 50px;
        }
    }

    .problem-description {
        border: 1px solid gray;
        padding: 25px;
        margin-bottom: 50px;
    }

    .code-editor {
        .editor {
            margin-bottom: 50px;
        }

        select {
            margin-bottom: 15px;
        }
    }

    .editor-container {
        height: 450px;

        .editor-container {
            height: 450px;
        }
    }
}