<h2>Forgot password</h2>
<form class="sign-form" [formGroup]="user">
  <mat-form-field>
    <input type="email" matInput placeholder="E-mail" required formControlName="email" />
    <mat-error *ngIf="user.get('email').hasError('email') && !user.get('email').hasError('required')">
      Type a valid e-mail address!
    </mat-error>
    <mat-error *ngIf="user.get('email').hasError('required')">
      E-mail is <strong>required</strong>!
    </mat-error>
  </mat-form-field>
</form>

<button class="btn btn-secondary btn-full" [disabled]="!user.valid">Reset password</button>
<hr />
<button class="btn btn-red btn-full" routerLink="/login">
  <i class="material-icons md-18">close</i>Cancel
</button>