button, a[type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus { outline: none; }
}

.btn {
    padding: 8px 10px;
    min-width: 80px;
    min-height: $s36px;
    @extend %flex-row;
    justify-content: center;
    align-items: center;
    font-size: $s14px;
    text-align: center;
    color: $color-container;
    cursor: pointer;
    border: none;
    border-radius: $border-button;
    text-transform: capitalize;
    transition: $transition-general;
    user-select: none;

    // Button actions
    &:hover {
        color: $color-container;
        opacity: .85;
    }
    &:active {
        color: $color-container;
        opacity: .7;
    }
    &:disabled {
        background: $color-grey-gradient;
        cursor: default;
    }

    // Button styles
    &-outline {
        &-primary, &-secondary {
            background: transparent;
            border: 1px solid;
        }
        &-primary {
            color: $color-primary;
            border-color: $color-primary;
            &:hover { background: $color-primary-gradient; }
        }
        &-secondary {
            color: $color-secondary;
            border-color: $color-secondary;
            &:hover { background: $color-secondary-gradient; }
        }
    }

    // Button colors
    &-primary { background: $color-primary-gradient; }
    &-secondary { background: $color-secondary-gradient; }
    &-red { background: $color-red-gradient; }
    &-orange { background: $color-orange-gradient; }
    &-blue { background: $color-blue-gradient; }
    &-green { background: $color-green-gradient; }
    &-grey { background: $color-grey-gradient; }

    // Button sizes
    &-full {
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
    }
    &-md {
        min-width: 110px;
        .lnr { font-size: $s16px; }
    }
    &-sm {
        padding: 4px;
        min-width: 80px;
        font-size: $s12px;
    }
}

.close {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    .far {
        font-size: $s18px;
        color: $color-text;
    }
}