@import '../../../../assets/scss/variables/_variables';

.header {
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    &-text {
        align-self: center;
    }
}

@media (max-width: 575px) {
    .header { flex-direction: column; }
}

::ng-deep app {
    &-categories {
        .container {
            background-color: $color-container;
        }
    }
}