@import '../../../../assets/scss/variables/_variables';

.hero {
    &-header {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        margin-left:5%;
        margin-right:2%;
    }
    &-text {
        align-self: center;
    }
}

@media (max-width: 575px) {
    .hero {
        &-header { float:right; }
    }
}