// Spacing, Paddings & Margins
$container-spacing: 60px;
$container-padding: 30px;

// Text sizes
$s36px: 2.25rem;
$s28px: 1.75rem;
$s24px: 1.5rem;
$s22px: 1.375rem;
$s20px: 1.25rem;
$s18px: 1.125rem;
$s16px: 1rem;
$s14px: .875rem;
$s13px: .8125rem;
$s12px: .75rem;

// Transitions
$transition-general: ease .15s all;

// Borders
$border-button: 1.5rem;
$border-container: .25rem;
$border-radius: 4px;