html, body {
    font: normal 16px/1.5 $font-primary;
    color: $color-text;
}

h1, h2, h3, h4, h5, p {
    margin: 10px 0;
    font-weight: normal;
    text-align: left;
    color: $color-secondary;
    cursor: default;
    user-select: none;
}

h1 { font-size: $s36px; }

h2 { font-size: $s28px; }

h3 { font-size: $s24px; }

h4 { font-size: $s20px; }

h5 { font-size: $s18px; }

h6 { font-size: $s16px; }

p {
    font-size: $s14px;
    line-height: 1.7;
    color: $color-text;
}

a:hover { text-decoration: none; }

hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid $color-divider;
}