.container { 
    padding: $container-spacing-max 2*$container-spacing-max;
}

@media (max-width: 575px) {
    .container { padding: $container-spacing; }
}

@media (max-width: 767px) {
    .container { padding: $container-spacing-max; }
}