@import '../../../../assets/scss/variables/_variables';
.page{
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 0.5px #707070;
    border-top: solid 0.5px #707070;
}
.dashboard-container {
    display:flex;
    flex-direction:column;
    width: 60%;
    height: 420px;
    background-color: #ffffff;
    border: solid 0.5px #707070;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    .line-one {
         height: 15%;
        .user-photo {
                width: 80px;
                height: 80px;
                border: solid 1px #707070;
                margin-left: 8.5%;
                margin-top: -40px;
                z-index: 2;
                background-color: #ffffff;
                border-radius: 1000px;
                float: left;
            }
            .dashboard {
                background-color: #ffffff;
                height: 40px;
                width: 100px;;
                text-align: center;
                z-index:2;
                margin-left: 8.5%;
                margin-top: -12px;
                float: left;
            }
        
    }
    .line-two {
        height:10%;
        margin-top: -10px;
        display: inline;
        width: 100%;
        .name {
                width: 27%;
                height: 20px;
                text-align: center;
                float: left;
            }
        
    }
    .line-three {
        display: inline;
        .stats-container {
                display: flex;
                flex-direction: column;
                width: 40%;
                height: 200px;
                background-color: #ffffff;
                border: solid 0.5px #707070;
                margin-top: 20px;
                .container-names {
                    width: 60px;
                    height: 35px;
                    background-color: #ffffff;
                    margin-left: 10%;
                    margin-top: -12px;
                    margin-bottom: -15px;
                    text-align: center;
                }
                .content{
                    display: flex;
                    flex-direction: row;
                    .text{
                        margin-left: 10%;
                        margin-right: 10%;
                    }
                    .values{
                        
                    }
                }
            }
        #chart{
            float:left;
            canvas {
                margin-top: 5%;
                height: 200px;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
        #stats{
            float:right;
            margin-right: 8.5%;
            
        }
        
    }
}
@media screen and (max-width:450px){
    .line-one { margin-bottom: -20%;}
    .line-two { margin-bottom: -20%; display: block;}
    .name {width: 100%;};
    .buttons { width: 100%;}
    .dashboard-container { width: 90%; height: 900px;}
    #chart {width: 80%; margin-left: auto;margin-right: auto;}
    #stats {width: 80%; margin-left: auto;margin-right: auto;}
    .buttons { margin-left: auto;margin-right: auto; width: 80%; }
    
}



